/* global styles */

@import 'fonts/roboto';
@import 'typography';
@import 'links';
@import 'buttons';

:global(body) {
  position: relative;
  overflow-x: hidden;

  .alert:empty {
    display: none
  }

  .fa {
    margin-right: 6px;
  }

  .btn .fa {
    font-size: 13px;
    position: relative;
    top: -1px;
    margin-right: 1px;
  }

  .section-header {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #8E8E8E;
    border-bottom: solid thin #E6E6E6;
    padding-bottom: 15px;
    margin-bottom: 40px;
    margin-top: 50px;
  }

  h2 {
    margin-bottom: 20px;
  }

  img {
    
  }

  .form-error:empty {
    display: none
  }
  .form-error {
    padding: 10px 0 5px;
    display: block;
    color: #F44336;
  }
}
