:local(.styles) {
  position: fixed;
  z-index: 1;

  width: 100%;

  padding: 10px 0;
  opacity: 1;
  top: 0;

  background: rgba(0, 0, 0, .8);

  .react-autosuggest__container {

    float: left;
    position: relative;
    top: 8px;
    margin-left: -55px;
    width: 64%;

    .react-autosuggest__suggestions-container {
      width: 100%;

      .react-autosuggest__suggestions-list {
        .react-autosuggest__suggestion {
          text-align: left;

          .react-autosuggest__suggestion--item {

            color: #004b58;            
            
            img {
              float: left;
            }

            .react-autosuggest__suggestion--item__name {
              display: inline-block;
              width: 85%;
              line-height: 22px;

              .react-autosuggest__suggestion--item__name--cast {
                font-size: 12px;
                color: #4c4c4c;
              }
            }
          }
        }
      }
    }
  }

  a, a:hover {
    color: #FFF;
  }

  .logo {

    a {
      font-weight: bold;
      text-decoration: none;
      font-family: 'Bangers', cursive;
      font-size: 34px;
      font-weight: lighter;
      color: #00D8FF;

      &:visited, &:active {
        text-decoration: none;
      }
    }
  }

  .right-nav {
    line-height: 48px;
  }

  .middle-section {
    #middle-section__list {
      list-style: none; 
      padding: 0;

      .middle-section__list-item {
        float: left;
        color: white;
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;

        a{
          &:hover {
            color: #00d8ff;
            padding-bottom: 23px;
            border-bottom: solid 4px;
            cursor: pointer;
          }
        }
      }

      .active {
        a {
          color: #00d8ff;
          padding-bottom: 23px;
          border-bottom: solid 4px;
        }
      }
    }
  }
  
  nav {

      & > a {
        margin-right: 20px;
        text-decoration: none;
        color: white;
      
      &.active {
        font-weight: bold;
      }
    }
  }

  .right-nav__search {

    .input-group {
      width: 56%;
      float: left;
      position: relative;
      top: 6px;
      left: 16px;

      .input-group-addon {
        background: white;
        padding-left: 10px;
        padding-right: 0;
        color: #b9b9b9;
      }

      input {
        border-left: none;
        padding-left: 1px;

        &:focus {
          outline: none;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          border: 1px solid #ccc;
          border-left: none;
        }
      }
    }
  }

  .right-nav__welcome {
    color: white;
    margin-right: 20px;

    .right-nav__welcome__dropdown__dropdown-menu {
      position: absolute;
      top: 39px;

      li a {
        padding: 10px 20px;
        color: black;
      }
    }
  }
}
